.container {
    width: 100%;
    
    
    position: relative;

 /*    display: flex;
    flex-direction: column;

    gap: 2px; */

    --modifier-color: var(--c-outline);
    margin-block: .5rem;
}

.label {
    text-wrap: nowrap;

    font-size: smaller;

    // padding-inline: calc(var(--s-gap) / 4);
    color: var(--c-neutral-4);

    position: absolute;

    bottom: calc(100% + 2px);
    left: calc(var(--s-padding) / 4);   
}

.note {
    max-width: 70%;
    font-size: small;

    // padding-inline: calc(var(--s-padding) / 4);

    color: var(--modifier-color);

    align-self: end;
    text-align: right;

    position: absolute;
    top: calc(100% + 2px);
    right: calc(var(--s-padding) / 4);
}