.container {
    padding: calc(var(--s-padding) / 4) calc(var(--s-padding) / 2);

    border-radius: var(--r-normal);

    border: 1px solid var(--c-outline-error);
    background-color: var(--c-surface-error);

    width: 100%;

    margin-block: var(--s-gap);
}