.container {

    border-radius: var(--r-small);
    
    border: solid 1px var(--c-outline);

    padding: 0.5em 1em;
    font-size: 1rem;

    transition: all 75ms ease-in-out;

    &:disabled {
        opacity: .3;
    }
}

.normal {
    background-color: var(--c-surface);
    color: var(--c-onSurface);
    border-color: var(--c-outline);

    box-shadow: none;

    &:active {
        background-color: var(--c-onSurface);
        color: var(--c-surface);
    }
}

.primary {
    background-color: var(--c-primary);
    color: var(--c-onPrimary);
    border-color: var(--c-primary);
    
    box-shadow: 0px 0px 0px 0px #00000030;
    
    &:hover {
        box-shadow: 2px 2px 5px 0px #00000030;
    }

    &:active {
        box-shadow: 0px 0px 0px 0px #00000030;
    }
}