.input {

    width: 100%;
    min-width: 10ch;

    border-radius: var(--r-small);
    border: solid 1px var(--modifier-color);

    overflow: auto;
    padding: calc(var(--s-padding) / 4);

    font-size: 1em;

    background-color: var(--c-background);
    color: var(--c-onSurface);

    outline-color: invert;
    
}