* {
    box-sizing: border-box;
    margin: 0;
}


:root {
    --c-neutral-0: rgb(255, 255, 255);
    --c-neutral-1: rgb(234, 244, 247);
    --c-neutral-2: rgb(180, 180, 200);
    --c-neutral-3: rgb(140, 140, 160);
    --c-neutral-4: rgb(100, 100, 110);
    --c-neutral-5: rgb(55, 58, 60);
    --c-neutral-6: rgb(38, 48, 50);
    --c-neutral-7: rgb(11, 42, 49);

    --s-gap: 1rem;
    --s-padding: 2rem;

    @media screen and (max-width: 400px) {
        --s-padding: 1rem;
        --s-gap: .5rem;
    }

    --r-small: 5px;
    --r-normal: 10px;
    --r-big: 20px;

    --c-outline: var(--c-neutral-2);

    --c-background: var(--c-neutral-1);
    /* --c-background: rgb(234, 244, 247); */

    --c-surface: var(--c-neutral-0);
    --c-onSurface: var(--c-neutral-7);

    --c-error: rgb(251, 79, 79);
    --c-outline-error: rgb(251, 79, 79);
    --c-surface-error: rgb(255, 235, 235);

    --c-primary: rgb(255, 147, 15);
    --c-onPrimary: rgb(56, 39, 6);
    --c-primaryActive: rgb(255, 187, 127);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --c-outline: var(--c-neutral-4);

        --c-background: var(--c-neutral-7);
        /* --c-background: rgb(11, 42, 49); */

        --c-surface: rgb(14, 55, 64);
        --c-onSurface: white;

        --c-error: rgb(241, 94, 94);
        --c-outline-error: rgb(98, 28, 28);
        --c-surface-error: rgb(50, 40, 40);

        --c-primary: rgb(255, 147, 15);
        --c-onPrimary: rgb(56, 39, 6);
        --c-primaryActive: rgb(255, 187, 127);
    }
}

body {
    font-family: sans-serif;

    background-color: var(--c-background);
    color: var(--c-onSurface);

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    height: 100%;

    @media screen and (max-width: 600px) {
        flex-direction: column-reverse;

        justify-content: space-between;
    }
}

main {
    position: relative;
    overflow: auto;
}

nav {
    z-index: 1;
}

header,
section {
    padding: var(--s-padding);
}

h1 {
    margin-bottom: 1rem;
    color: var(--c-primary);
}

a {
    font-weight: bold;
    color: var(--c-primary);

    text-decoration: underline dashed 1.5px;
    text-underline-offset: calc(var(--s-gap) / 2.5);
    text-decoration-color: var(--c-text, var(--c-onSurface));


    &:hover {
        text-decoration-color: var(--c-primary);
    }

    &:active {
        text-decoration: var(--c-primaryActive);
        color: var(--c-primaryActive);
    }

}