* {
    box-sizing: border-box;
    margin: 0;
}


:root {

    --s-gap: 1rem;
    --s-padding: 2rem;
    
    --r-small: 5px;
    --r-normal: 10px;
    --r-big: 20px;
    
    --c-outline: rgb(180, 180, 180);

    --c-background: rgb(234, 244, 247);
    
    --c-surface: white;
    --c-onSurface: black;
    
    --c-outline-error: rgb(251, 79, 79);
    --c-surface-error: rgb(255, 235, 235);
    
    --c-primary: rgb(255, 147, 15);
    --c-onPrimary: rgb(56, 39, 6);
    --c-primaryActive: rgb(255, 187, 127);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --c-outline: rgb(180, 180, 180);
        
        --c-background: rgb(11, 42, 49);

        --c-surface: rgb(14, 55, 64);
        --c-onSurface: white;
        
        --c-outline-error: rgb(98, 28, 28);
        --c-surface-error: rgb(50, 40, 40);
        
        --c-primary: rgb(255, 147, 15);
        --c-onPrimary: rgb(56, 39, 6);
        --c-primaryActive: rgb(255, 187, 127);
    }
}

body {
    font-family: sans-serif;

    background-color: var(--c-background);
    color: var(--c-onSurface);

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    height: 100%;

    @media screen and (max-width: 600px) {
        flex-direction: column-reverse;
        
        justify-content: space-between;
    }
}

main {
    position: relative;
    overflow: auto;
}

nav {
    z-index: 1;
}

header, section {
    padding: var(--s-padding);
}

h1 {
    margin-bottom: 1rem;
}