.container {
    display: flex;
    gap: var(--s-gap);

    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.label {
    height: fit-content;
}

.field {
    min-width: 20ch;
    flex: 1;

    padding: .5em;

    border-radius: 5px;
    border: solid 1px rgb(69, 69, 69);

    font-size: 1em;
}