.container {
    display: flex;
    gap: var(--s-gap);

    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.label {
    height: fit-content;
}