.form, .header {
    display: flex;
    flex-direction: column;

    justify-content: center;

    padding-inline: calc(var(--s-padding) * 2);
    padding-block: 0;

    @media screen and (max-width: 800px) {
        padding-inline: var(--s-padding);
    }
}

.form {
    padding-inline: var(--s-padding);

    align-items: center;

    width: 100%;
    flex-grow: 1;
}

.header {
    width: 100%;

    font-size: 1.3rem;

    margin-block: var(--s-padding);
}

.main {
    display: flex;
    flex-direction: row;

    height: 100%;

    flex-grow: 1;

    @media screen and (max-width: 800px) {
        flex-direction: column;

        margin-top: var(--s-padding);
    }
}

.poster {
    max-height: 80vh;
    max-width: 85vw;
    height: fit-content;
    width: fit-content;
    object-fit: contain;

    padding: 1.5rem;

    border: 2px dashed var(--c-primary);
    border-radius: 1rem;
}

.cta {
    margin-block: var(--s-padding);
    margin-right: auto;
}