.container {
    padding: var(--s-padding);

    border-radius: var(--r-normal);

    border: 1px solid var(--c-outline);
    background-color: var(--c-surface);

    
    min-width: 25rem;
    min-height: fit-content;

    
    max-width: 100%;
    max-height: 100%;
}