.main {
    width: 100%;
    padding: var(--s-padding);

    text-align: center;
}

.table {
    display: flex;
    flex-direction: column;
    gap: var(--s-gap);
}

.table_row {
    padding: calc(var(--s-padding) / 3);

    text-align: start;
    background-color: var(--c-surface);
    color: var(--c-onSurface);

    border-radius: var(--r-normal);
}

.details {
    margin-block: var(--s-gap);
}